// Variables
$body:          #faf9f5;
$black:         #141413;
$white:         #fff;
$theme-color:   #cc785c;
$theme-color-2: #a9583e;
$header:        #141413;
$text:          #3d3d3a;
$border:        #e6dfd8;
$ratting:       #f8bc26;
$bg:            #efe9de;
$bg-2:          #faf9f5;
$box-shadow:    0px 4px 25px rgba(0, 0, 0, 0.06);

// Breakpoints
$breakpoint-xxl:       1899px;
$breakpoint-xl:        1600px;
$breakpoint-lg:        1399px;
$breakpoint-md:        1199px;
$breakpoint-sm:        991px;
$breakpoint-xs:        767px;
$breakpoint-xxs:       585px;
$breakpoint-mobile-lg: 575px;
$breakpoint-mobile:    470px;
$breakpoint-mobile-sm: 450px;
$breakpoint-mobile-xs: 414px;
